* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

h1 {
    text-align: center;
}

button {
    padding: 1rem 1rem;
}

.calendar-container {
    width: 50%;
    margin: 0 auto;
}

#calendar-header {
    font-size: 20px;
    font-weight: bold;
    grid-column-start: span 7;
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.calendar-grid > div {
    height: 50px;
    background-color: green;
}