/* Main structure */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 0 0 var(--nav-width);
    font-size: 18px;
}

/* Navigation */

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: cadetblue;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    align-content: center;
}

.nav-link:hover {
    background: rgb(55, 92, 94);
}

/* Calendar */

.calendar-control {
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.calendar-container {
    width: 95%;
    margin: 0 auto;
}

#calendar-header {
    font-size: 26px;
    font-weight: bold;
    grid-column-start: span 7;
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    align-items: flex-end;
}

.calendar-item {
    height: 50px;
    border-radius: 50%;
}

.calendar-weekdays {
    height: 20px;
    font-weight: bold;
}

.calendar-filler {
    background-color: white;
}

.calendar-date {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.calendar-date:hover {
    transform: scale(1.4);
    cursor: default;
}

.current-day {
    height: 50px;
    border: 2px crimson dashed;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    body {
        --nav-width: 200px;
        margin: 0 0 0 var(--nav-width);
        font-size: 18px;
    }
    
    .nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--nav-width);
        height: 100vh;
        background: cadetblue;
    }

    nav ul {
        display: block;
    }
    
    .nav-link {
        display: block;
        padding: 12px 18px;
        text-decoration: none;
        color: #eeeeee;
        font-weight: 500;
    }

    /* Calendar */

    .calendar-container {
        width: 45%;
        margin: 2rem 10rem;
    }

    .calendar-item {
        height: 60px;
    }

    .calendar-weekdays {
        text-align: center;
    }

    .calendar-date {
        line-height: 60px;
    }
}

/* undirsíður */

#app {
    margin: 0em;
}

.page {
    display: none;
    width: 100%;
    min-height: 100%;
    position: fixed;
}

.active {
    display: block;
}

#frontpage {
    background-color: bisque;
}

#calendarpage {
    background-color: lavender;
}

#symptompage {
    background-color: rosybrown;
}






/* Fade in effect for calendar dates
.date {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.8s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/