/* Calendar */


.calendar-container {
    width: 90%;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    border: $border;
    max-width: 540px;

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 1rem;
        align-items: flex-end;

        #calendar-header {
            grid-column-start: span 7;
            font-family:$calenderFont ;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            

            .calendar-control {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                cursor: pointer;

                &:hover {
                    transform: scale(1.3);
                }
            }

            .calendar-text {
                font-size: 24px;
                font-weight: bold;
                display: inline-block;
                min-width: 12rem;
                
            }
        }

        .calendar-weekdays {
            font-family:$calenderFont;
            height: 100%;
            width: 100%;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }    
    }
}

.calendar-advice {
    display: block;
    width: 90%;
    font-size: 20px;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: $pure-white;
    border: $border;
    max-width: 540px;
}

.condition-preview {
    display: none;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    padding: 1rem 2rem;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
    border: $border;
    border-radius: 10px;
}

.condition-icons {
    .condition-label {
        width: 140px;
        border-radius: 10px;
        border: none;
        text-align: center;
        font-size: 18px;
        color: white;
        margin-bottom: 1rem;
        padding: 0.5rem 0;
    }

    img {
        width: 100px;
        height: 56px;
    }

    .strength-display-wrapper {
        width: 85px;
        height: 64;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        padding: 10px 0 10px 0;
        margin: 0 auto;

        #strength-display-container {
            width: 100px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        
            .strength-display-pick {
                width: 24px;
                border: 2px solid #E76F51;
                border-radius: 2px;
            }
        
            #strength-display-one {
                height: 36px;
            }
        
            #strength-display-two {
                height: 54px;
            }
        
            #strength-display-three {
                height: 80px;
            }
        }
    }

    // When clicking it gets color
    .strength-display-active {
        background: #E76F51;
    }
}

/* From js */



.calendar-item {
    height: 24px;
    border-radius: 50%;
}

.calendar-date {
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    &:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

.current-day {
    /* height: 100%;
    width: 100%;
    border: 2px solid $button-secondary; */
    color: $button-secondary;
}

@media only screen and (min-width: 768px) {
    .calendar-page {
        margin: 200px 40px 200px 40px;
        display: flex;
    }

    .calendar-advice {
        margin: 20px 40px 0 40px;
        max-width: 400px;
    }
    
}

