/* Calendar */

.calendar-container {
    width: 90%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    padding: 0 2rem;
    padding-top: 1rem;
    margin: 0 auto;
    margin-top: 1rem;

    .calendar-grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0.5rem;
        align-items: flex-end;

        #calendar-header {
            font-size: 26px;
            font-weight: bold;
            grid-column-start: span 7;
            text-align: center;

            .calendar-control {
                padding: 0.5rem 0.5rem;
                background-color: rgba(0, 0, 0, 0);
                border: none;
            }

            .calendar-text {
                display: inline-block;
                min-width: 12rem;
            }
        }

        .calendar-weekdays {
            height: 20px;
            font-weight: bold;
        }    
    }
}

.calendar-advice {
    display: block;
    width: 90%;
    font-size: 20px;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: $pure-white;
}

.condition-preview {
    display: none;
    align-items: stretch;
    justify-content: space-evenly;
    width: 90%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background-color: white;
}

.condition-icons {
    .condition-label {
        width: 140px;
        border-radius: 10px;
        border: none;
        text-align: center;
        font-size: 18px;
        color: white;
        margin-bottom: 1rem;
        padding: 0.5rem 0;
    }

    img {
        width: 100px;
        height: 56px;
    }

    .strength-display-wrapper {
        width: 85px;
        height: 64;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        padding: 10px 0 10px 0;
        margin: 0 auto;

        #strength-display-container {
            width: 100px;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        
            .strength-display-pick {
                width: 24px;
                border: 2px solid #E76F51;
                border-radius: 2px;
            }
        
            #strength-display-one {
                height: 36px;
            }
        
            #strength-display-two {
                height: 54px;
            }
        
            #strength-display-three {
                height: 80px;
            }
        }
    }

    // When ckicking it gets color
    .strength-display-active {
        background: #E76F51;
    }
}

/* From js */

.calendar-control {
    padding: 0.5rem 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.calendar-item {
    height: 40px;
    border-radius: 50%;
}

.calendar-date {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;

    &:hover {
        transform: scale(1.4);
        cursor: default;
    }
}

.current-day {
    height: 40px;
    border: 2px seagreen solid;
}
