/* Color picker */
.color-wrapper {
    padding: 24px 0 24px 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 40px 1fr;
    align-items: center;

    .colorHeader {
        grid-column-start: span 4;
        padding-bottom: 24px;
    }

    #color-container {
        display: flex;
        grid-row-start: 2;
        margin: auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


// classes from js

.color-pick {
    margin: 5px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}


.activeColor {
    border: 2px solid black;
}


/* chosen color output */

.output-wrapper {
  display: flex;
  margin: 20px;

    #output-color {
        width: 2rem;
        height: 2rem;
        color: gray;
        border: 1px solid lightgray;
        border-radius: 50%;
        background-color: white;
    }
}