/* Condition Form */
.condition-form {
    height: 100%;
    display: grid;
    grid-template-rows: 80px 80px 20px 120px 30px;
    justify-content: center;
    align-items: flex-end;

    .form-buttons {
        .dropdown {
            .select-error {
                position: absolute;
                color: red;
            }

            .dropdown-content {
                display: block;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 152px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                /* Links inside the dropdown */
                .dropdown-item {
                    display: flex;
                    justify-content: space-between;
                    color: white;
                    padding: 12px 16px;
                    span {
                        text-align: end;
                    }
                }
            }

            .hide-dropdown {
                display: none;
            }
        }
    }
    

    select {
        @include button-style($button-primary, 152px);
    }

    button {
        @include button-style($button-primary, 152px);
    }

    input {
        @include button-style($button-primary, 100%);
        text-align: left;
    }

    textarea {
        border: $border;
        border-radius: 10px;
        height: 100px;
    }

    .confirm-btn {
        @include button-style($button-secondary, 100%)
    }
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

/* The add modal background */
.add-modal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: 140px;
    top: 170px;
    

    /* Add modal Content/Box */
    .add-modal-content {

        background-color: white;
        margin: 15% auto; 
        padding: 20px;
        height: 100%;
        width: 300px;
        border: $border;
        border-radius: 10px;
        padding: 30px;
        

        input {
            height: 40px;
            width: 100%;
            border: $border;
            border-radius: 10px;
        }

        button {
            @include button-style($button-secondary, 100%)
        }

        .output-wrapper {
            display: none;
        }
        
    }

    /* The Close Button */
    .close-modal {
        float: right;
        font-size: 28px;
        padding: 0 0 24px;
        font-weight: bold;

        &:hover, 
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}


/*  Custom validation message */
.validation-message {
    color: red;
    font-size: .8rem;
}

/* Strength picker */
.strength-wrapper {
    width: 334px;
    height: 106px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 10px 0 10px 0;
    border-radius: 10px; 
    background: white;
    border: $border;
}

#strength-container {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .strength-pick {
        width: 24px;
        cursor: pointer;
        border: 2px solid #E76F51;
        border-radius: 2px;
    
        &:hover {
            background: #E76F51;
        }
    }

    #strength-one {
        height: 36px;
    }

    #strength-two {
        height: 54px;
    }

    #strength-three {
        height: 80px;
    }

}

// When ckicking it gets color
.strength-active {
    background: #E76F51;
}


/* Color picker */
.color-wrapper {
    padding: 24px 0 24px 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 40px 1fr;
    align-items: center;

    .colorHeader {
        grid-column-start: span 4;
        padding-bottom: 24px;
    }

    #color-container {
        display: flex;
        grid-row-start: 2;
        margin: auto;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


// classes from js

.color-pick {
    margin: 5px;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}


.activeColor {
    border: 2px solid black;
}


/* chosen color output */

.output-wrapper {
  display: flex;
  margin: 20px;

    #output-color {
        width: 2rem;
        height: 2rem;
        color: gray;
        border: 1px solid lightgray;
        border-radius: 50%;
        background-color: white;
    }
}