/* Condition Form */
.condition-form {
    height: 600px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    margin: 24px;
    justify-content: center;
    align-items: flex-end;

    select {
        @include button-style($button-primary, 152px);
    }

    button {
        @include button-style($button-primary, 152px);
        
    }

    textarea {
        border: 1px solid lightgray;
        border-radius: 10px;
    }

    .confirm-btn {
        @include button-style($button-secondary, 100%)
    }
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

/* The add modal background */
.add-modal {
    display: none; 
    position: absolute; 
    z-index: 1; 
    left: auto;
    top: 180px;
    

    /* Add modal Content/Box */
    .add-modal-content {

        background-color: white;
        margin: 15% auto; 
        padding: 20px;
        height: 100%;
        width: 300px;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 40px 30px 40px 30px;
        

        input {
            height: 40px;
            width: 100%;
            border: 1px solid lightgray;
            border-radius: 10px;
        }

        button {
            @include button-style($button-secondary, 100%)
        }

        .output-wrapper {
            display: none;
        }

        
    }

    /* The Close Button */
    .close-modal {
        float: right;
        font-size: 28px;
        padding: 0 0 24px;
        font-weight: bold;

        &:hover, 
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}


/*  Custom validation message */
.validation-message {
    color: red;
    font-size: .8rem;
}

/* Strength picker */
.strength-wrapper {
    width: 334px;
    height: 106px;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    padding: 10px 0 10px 0;
    border-radius: 10px; 
    background: white;
    border: 1px solid lightgray;
}

#strength-container {
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .strength-pick {
        width: 24px;
        cursor: pointer;
        border: 2px solid #E76F51;
        border-radius: 2px;
    
        &:hover {
            background: #E76F51;
        }
    }

    #strength-one {
        height: 36px;
    }

    #strength-two {
        height: 54px;
    }

    #strength-three {
        height: 80px;
    }

}

// When ckicking it gets color
.strength-active {
    background: #E76F51;
}