/* Media query for desktop version */

@media only screen and (min-width: 768px) {
    /* For desktop: */
    // Hide mobile header
    .hide-desktop {
        display: none;
    }
    body {
        --nav-width: 200px;
        margin: 0 0 0 var(--nav-width);
        font-size: 18px;
    }
    
    .nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: var(--nav-width);
        height: 100vh;
        
        ul {
            display: block;
        }
        .nav-link {
            text-decoration: none;
            color: $pure-white;
            background-color: $button-primary;
            font-weight: 500;
            img {
                display: none;
            }
            p {
                display: inline-block;
            }
        }
    }

   

    /* Calendar */

    .calendar-container {
        width: 35%;
        margin: 2rem 10rem;
    }

    .calendar-item {
        height: 60px;
    }

    .calendar-weekdays {
        text-align: center;
    }

    .calendar-date {
        line-height: 60px;
    }


     // Veit ekki alveg með allt hér fyrir neðan!!
    // #frontpage {
    // position: absolute;
    // z-index: 10;
    .frontpage-img{
        width: 10px;
    }
   
    // Front page footer
    .frontpage-footer {
        background-color: $background-primary;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
   // }
}