/*  Variables store information that you want to use throughout your stylesheet using the $ symbol */

/* Dæmi:
$font-size: 2em;
$primary-color: #e6d149;
$accent-color: #add8e6; */

/* Font */

/* Colors */
$background-primary: #2F6584;
$background-secondary: #F3F3F3;
$button-primary: #489FB5;
$button-secondary: #E76F51;
$pure-white: #FFFFFF;
$grey-font: #393939;
$drop-shadow: rgba(0, 0, 0, 0.25);



/* Button */

@mixin button-style($background-color, $width) {
  border-radius: 10px;
  border: none;
  color: $pure-white;
  padding: 7px;
  background-color: $background-color;
  width: $width;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  &:hover {
    box-shadow: 4px 4px 20px 2px $drop-shadow;
  }
}

// %button-style {
//     border-radius: 10px;
//     color: $pure-white;
//     &:hover {
//       box-shadow: 4px 4px 20px 2px $drop-shadow;
//     }
// }

/*
.btn-1 {
    @extend %button-style;
  } */


// Mixin for background color og width??
