/*  Variables store information that you want to use throughout your stylesheet using the $ symbol */

/* Dæmi:
$font-size: 2em;
$primary-color: #e6d149;
$accent-color: #add8e6; */

/* Font */

/* Colors */
$primary-color: cadetblue;
$secondary-color: rgb(32, 54, 54);
$accent-color: lavender;

/* Button */

/* %button-style {
    
}

.btn-1 {
    @extend %button-style;
  } */


