/*  Variables store information that you want to use throughout your stylesheet using the $ symbol */


/* Fonts */

$mainFont : 'Saira', sans-serif;
$calenderFont : 'Inter', sans-serif;

$mainTextColor : #393939;
$HeaderTextColor : #FFFCF9;

$fontSizeSmall : 16px;
$fontSizeMedium : 18px;
$fontSizeLarge : 20px;
$fontSizeBig : 24px;
$fontSizeDesktopHeadlines : 36px;

$fontWeightSmall : 200;
$fontWeightMedium : 300;
$fontWeightLarge : 400;





/* Phone mixin */

 @mixin phoneBody($fontfam){
  font-family: $fontfam;
  color: $mainTextColor;
  font-size: $fontSizeSmall;
  letter-spacing: 1%;
}

@mixin phoneFrontPageHeader{
  font-family: $mainFont;
  font-size: $fontSizeMedium;
  color: $mainTextColor;
}

@mixin phoneBigButton {
  font-family: $mainFont;
  color: $HeaderTextColor;
  font-size: $fontSizeLarge;
}


@mixin phoneHeader($colorFonts) {
  font-family: $mainFont;
  color: $colorFonts;
  font-size: $fontSizeLarge;
  line-height: auto;
  font-weight: $fontWeightLarge;
}



 /* Desktop Mixin */

 @mixin desktopBody{
  font-family: $mainFont;
  color: $mainTextColor;
  font-size: $fontSizeMedium;
  line-height: 160.4%;
  letter-spacing: 2%;
  font-weight: $fontWeightMedium;
}

@mixin desktopFrontpage-menu($colorfont) {
  font-family: $mainFont;
  color: $colorfont;
  font-size: $fontSizeBig;
  font-weight: $fontWeightMedium ;
  line-height: auto;
  line-height: 160.4%;
  letter-spacing: 1%;
}

@mixin desktopHeadlines {
  font-family: $mainFont;
  color: $mainTextColor;
  font-size: $fontSizeDesktopHeadlines;
  line-height: auto;
  line-height: 160.4%;
  letter-spacing: 0%;
  font-weight: $fontWeightLarge;
}

@mixin desktopButton{
  font-family: $mainFont;
  color: $mainTextColor;
  font-size: $fontSizeBig;
  line-height: auto;
  letter-spacing: 1%;
}






/* Colors */
$background-primary: #2F6584;
$background-secondary: #F3F3F3;
$button-primary: #489FB5;
$button-secondary: #E76F51;
$pure-white: #FFFFFF;
$grey-font: #393939;
$drop-shadow: rgba(0, 0, 0, 0.25);
$border: 1px solid #EBEBEB;








/* Button */

@mixin button-style($background-color, $width) {
  border-radius: 10px;
  border: none;
  color: $pure-white;
  padding: 7px;
  background-color: $background-color;
  width: $width;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  @include phoneBigButton;

  &:hover {
    box-shadow: 4px 4px 20px 2px $drop-shadow;
  }
}

