/* Sass style-sheet */


/* Partial Sass files  */
@import "./variables";
@import "./desktop";
@import "./calendar";
@import "./conditionForm";

/* Main structure */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 100px;
    font-size: 18px;
    padding: 0;
    background-color: $background-secondary;
}

/* Navigation */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: $background-primary;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    ul {
        display: flex;
        list-style: none;


        #sidebar-logo {
            display: none;
        }

        .sidebar-profile {
            display: none;
        }

        h4 {
            display: none;
        }
    }

    .nav-link {
        display: block;
        margin: 0 1rem;
        height: 50px;
        width: 50px;
        padding: 12px;
        align-content: center;

    }

    h2 {
        display: none;

    }

    img {
        display: block;
        height: 100%;
    }

}

/* Pages */

#app {
    margin: 0em;

    .page {
        display: none;
        width: 100%;
        min-height: 100%;

        &.active {
            display: block;
        }
    }

    .nav-list {
        display: block;

    }


    #frontpage {
        background-color: $background-secondary;

        // Front page header
        #frontpage-content {
            display: block;
            padding: 24px;

            h5 {
                text-align: center;
                padding: 1rem 1rem;
            }

            p {
                text-align: center;
                padding: 1rem 1rem;
            }

            .frontpage-img {
                display: block;
                margin: auto;
                width: 80%;
            }

            .frontpage-buttons {
                display: block;
            }

            #log-button {
                display: block;
                margin-top: 1rem;
                margin-left: auto;
                margin-right: auto;
            }

            #calendar-button {
                display: none;
            }
        }

        .btn-type1 {
            @include button-style($button-secondary, 334px)
        }

        @media only screen and (min-width: 768px) {
            #nav-list {
                display: none;
            }


            #frontpage-content {
                display: flex;
                flex-direction: row;

                div {
                    margin: 0 1rem;
                    /* All flex items have same width */
                    flex: 1 1 0px;
                }

                .frontpage-img {
                    width: 470px;
                    height: 420px;
                }

                h5 {
                    text-align: start;
                    padding: 1rem 1rem;
                }

                p {
                    text-align: start;
                    padding: 1rem 1rem;
                }

                .frontpage-buttons {
                    display: flex;
                    margin-top: 2rem;
                    justify-content: space-evenly;
                    flex-wrap: wrap;
                }

                #log-button {
                    margin-top: 0.5rem;
                    width: 16rem;
                }

                #calendar-button {
                    margin-top: 0.5rem;
                    display: block;
                    width: 16rem;
                }
            }
        }

    }

    #calendarpage {
        background-color: $background-secondary;

        @media only screen and (min-width: 768px) {
            .mobile-header {
                display: none;
            }
        }
    }

    #symptompage {
        background-color: $background-secondary;

        @media only screen and (min-width: 768px) {
            .mobile-header {
                display: none;
            }
        }
    }
}


// Hide some desktop elements
.hide-mobile {
    display: none;
}

// Mobile header
.mobile-header {
    background-color: $background-primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;

    .logo-mobile {
        width: 40%;
        order: 1;
        align-self: flex-end;
    }

    .profile {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .profile-img {
            width: 90px;
            border-radius: 50%;
            margin-right: 25px;
        }

        h4 {
            color: $pure-white;
            align-self: flex-end;
        }
    }

    @media only screen and (min-width: 768px) {}
}

.hide-section {
    display: none;
}