/* Sass style-sheet */


/* Partial Sass files  */
@import "./variables";
@import "./desktop";
@import "./calendar";
@import "./conditionForm";

/* Main structure */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 100px;
    font-size: 18px;
    padding: 0;
    background-color: $background-secondary;
    /* font-family: 'Saira', sans-serif; */
}



//Font styles
p {
    @include phoneBody
}

/* nav ul div h4{
    @include phoneHeader;
    color: #D8D5D5;
} */

h4 {
    @include phoneHeader;
    color: #D8D5D5;
}

h5 {
    @include phoneHeader
}


.calendar-advice {
    @include phoneHeader
}

.strength-wrapper p {
    @include phoneHeader;

}

label {
    @include phoneHeader;
}




/* Navigation */

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: $background-primary;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


    ul {
        display: flex;
        list-style: none;


        #sidebar-logo {
            display: none;
        }

        .sidebar-profile {
            display: none;
        }

        h4 {
            display: none;
        }
    }

    .nav-link {
        display: block;
        margin: 0 1rem;
        height: 50px;
        width: 50px;
        padding: 12px;
        align-content: center;

    }

    h2 {
        display: none;

    }

    img {
        display: block;
        height: 100%;
    }

}

/* Pages */

#app {
    margin: 0em;

    .page {
        display: none;
        width: 100%;
        min-height: 100%;

        &.active {
            display: block;
        }
    }

    .nav-list {
        display: block;

    }

    // ------ Á þetta ekki að vera í desktop möppunni ? Vildi ekki færa það yfir ef ég vææri að rugla í einhverju en þetta 
    // ------ var hér og líka smá í desktop möppunni, spurning að copya þetta og færa yfir í desktop? -Kristbjörg

    #frontpage {
        background-color: $background-secondary;


        .frontpage-logo {
            margin-right: auto;
            margin-left: 10rem;
            padding-top: 2rem;
            padding-bottom: 1rem;
        }

        // Front page header
        // #frontpage-content {
        //     display: block;
        //     padding-top: 10px;

        h5 {
            text-align: center;
            padding: 1rem 1rem;
            font-weight: bold;
        }

        p {
            text-align: center;
            padding: 1rem 1rem;


        }

        .frontpage-img {
            display: block;
            margin: auto;
            width: 80%;
            padding-bottom: 3rem;
        }

        .frontpage-buttons {
            display: block;

        }

        #log-button {
            display: block;
            margin-top: 1rem;
            margin-left: auto;
            margin-right: auto;
        }

        #calendar-button {
            display: none;
        }
    }

    .btn-type1 {
        @include button-style($button-secondary, 334px)
    }

    @media only screen and (min-width: 768px) {
        #nav-list {
            display: none;

        }

        //------------- Desktop frontpage !! ----------------// 
        #frontpage-content {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
            margin-left: 10rem;
            margin-right: 10rem;

            div {
                margin: 0 1rem;
                /* All flex items have same width */
                flex: 1 1 0px;
                padding-top: 2rem;
            }

            .frontpage-img {
                width: 470px;
                height: 420px;
            }

            .frontpage-textbox {
                max-width: 500px;

                h5 {
                    text-align: start;
                    padding: 1rem 1rem;
                    margin-top: 2rem;
                }

                p {
                    text-align: start;
                    padding: 1rem 1rem;
                }

                .frontpage-buttons {
                    display: flex;
                    flex-direction: row-reverse;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: stretch;
                    align-content: stretch;
                    margin-top: 7rem;
                }

                #log-button {
                    margin-top: 0.5rem;
                    width: 10rem;
                }

                #calendar-button {
                    margin-top: 0.5rem;
                    display: block;
                    width: 10rem;
                }
            }

        }
    }

}

#calendarpage {
    background-color: $background-secondary;

    @media only screen and (min-width: 768px) {
        .mobile-header {
            display: none;
        }
    }
}

#symptompage {
    background-color: $background-secondary;

    @media only screen and (min-width: 768px) {
        .mobile-header {
            display: none;
        }
    }
}



// Hide some desktop elements
.hide-mobile {
    display: none;
}

// Mobile header
.mobile-header {
    background-color: $background-primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;

    .logo-mobile {
        width: 40%;
        order: 1;
        align-self: flex-end;
    }

    .profile {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        .profile-img {
            width: 90px;
            border-radius: 50%;
            margin-right: 25px;
        }

        p {

            align-self: flex-end;
            @include phoneHeader;
            color: #D8D5D5;
        }
    }

    @media only screen and (min-width: 768px) {}
}

.hide-section {
    display: none;
}